
.input-group{
	padding: 1%;
	width: 500px;
	margin: auto;
	color: white;
}

h2{
	font-weight: 400;
	font-size: 3em;
	color: white;
}


form{
		text-align: center;
		padding-top: 2%;
		font-family: Lato;
}

body{
	background: url(../car2.jpg);
	background-size: cover;
	background-position: center;
}

html{
	height: 100%;
}

